<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack page
		</title>
		<meta charset='utf-8' />

		<link href='css/normalize.css' rel='stylesheet' />
		
		<link href='css/slack.css' rel='stylesheet' />

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	</head>

	<body>

		<div class="page">
			<section class="page_section">
			<div class="page_content hero_section">

				<div class="hero">
				<div class="hero_section">
					<span class="hero_label">Slack Features</span>
					<h1 class="hero_title">One platform for your team and your work</h1>
				<p class="hero_info">All the features of Slack work together so you can, too.</p>
				</div>
				<div class="hero_button">
					<a href="#" class="button button_primary">Try for free</a>
					<a href="#" class="button button_secondery">See all features</a>
				</div>
				</div>

				<img src="img/hero.png" alt="" class="hero_image">

				<div class="brands">
					<img src="/img/brands/affairs.png"    alt="affairs" class="brands_image">
					<img src="/img/brands/airbnb.png"     alt="airbnb" class="brands_image">
					<img src="/img/brands/intuit.png"     alt="intuit.png" class="brands_image">
					<img src="/img/brands/newscorp.png"   alt="newscorp" class="brands_image">
					<img src="/img/brands/onemedical.png" alt="onemedical" class="brands_image">
					<img src="/img/brands/sonos.png"      alt="sonos" class="brands_image">
					<img src="/img/brands/target.png"     alt="target" class="brands_image">
					<img src="/img/brands/uber.png"       alt="uber" class="brands_image">
				</div>


			</div>
			</section>
        </div>
		</body>

</html>