{{#with data}}
<div class="post">
<strong class="post_title">{{title}}</strong>
 <div class="post_info">{{date}}by <mark class="post_author">{{author}}</mark></div>
 <p class="post_description">{{description}}</p>
  <a href="#">Continue resding</a>
  </div>
   {{/with}}